@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700";
body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.navbar-brand {
  padding: 12px;
}
.content {
  margin-top: 20px;
}
.github-widget {
  margin-top: 20px;
  margin-bottom: 20px;
}
footer {
  font-size: 1.5em;
  text-align: center;
}
footer a.fa {
  margin: 0 5px;
  color: #777;
  text-decoration: none;
}
