doctype html
html(lang="en")
  head
    title Jiabin &hearts; Open Source
    meta(http-equiv='content-type', content='text/html;charset=UTF-8')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(content='A simple, static portal which outlines our open source offerings.', name='description')
    meta(content='Eymen Gunay', name='author')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/style.min.css')
  body
    .container
      .navbar.navbar-default(role='navigation')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            img(src='img/logo.png', alt='Jiabin logo', title='Jiabin logo')
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='//github.com/jiabin') github.com/jiabin
      .content
        .row
          .col-xs-12
            hr
            p.lead.text-center As a company built on open source, here are some of the internally-developed projects we have contributed back to the community.
            hr
            .github-widget(data-repo='jiabin/migraine')
            .github-widget(data-repo='jiabin/haraka-rcptlog')
            .github-widget(data-repo='jiabin/facetly')
            .github-widget(data-repo='jiabin/holter')
            .github-widget(data-repo='jiabin/HolterBundle')
            .github-widget(data-repo='jiabin/JuliusFrameworkExtraBundle')
            .github-widget(data-repo='jiabin/JuliusRefererBundle')
            .github-widget(data-repo='jiabin/utility-belt')
        .row
          .col-xs-12
            hr
            p.lead.text-center Here are some of the great open source projects that Jiabin is using to power its infrastructure.
            hr
            .github-widget(data-repo='mongodb/mongo')
            .github-widget(data-repo='elasticsearch/elasticsearch')
            .github-widget(data-repo='antirez/redis')
            .github-widget(data-repo='Supervisor/supervisor')
            .github-widget(data-repo='php/php-src')
            .github-widget(data-repo='bower/bower')
            .github-widget(data-repo='capistrano/capistrano')
            .github-widget(data-repo='eymengunay/subway')
        .row
          .col-xs-12
            hr
            footer
              a.fa.fa-facebook(href="//facebook.com/JiabinMilano")
              a.fa.fa-twitter(href="//twitter.com/JiabinMI")
              a.fa.fa-github(href="//github.com/jiabin")

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='js/jquery-ajax-localstorage-cache.min.js')
    script(src='js/github-repo-widget.min.js')